/* placeholder.css */
.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #6379A6
}

.bottom-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#break-timer {
    font-size: 24px;
    margin: 20px 0;
}

.mission-statement, .game-title {
    margin: 20px 0;
    font-size: 20px;
    color: #6379A6; /* Adding color for readability */
}

/* Ensuring everything within bottom-half is centered */
.container {
    max-width: 800px;
    margin: 0 auto;
}
